// reds
$red:#a32136;


// greens
$green: #007935;


// blues
$blue: #0065a1;
$blue-light: #0090e5;



// yellows
$yellow:#ffd200;



// purples
$purple: #592c82;


// browns
$brown: #402020;

// pinks
$pink: #b42573;

// grays
$gray: #666666;
$gray-light: #999999;
$gray-lighter: #d8d8d8;
$gray-lightest: #eaeaea;


// basic colors like black, whites and greys


$white: #ffffff;
$black: #000000;
