// reds
$red:#a32136;


// greens
$green: #007935;


// blues
$blue: #0065a1;



// yellows
$yellow:#ffd200;



// purples
$purple: #592c82;


// browns
$brown: #402020;

// pinks
$pink: #b42573;


// basic colors like black, whites and greys

$gray: #666666;
$white: #ffffff;
$black: #000000;
